<a href="https://colab.research.google.com/github/saishanakar/zomato-sales/blob/main/Untitled17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data=pd.read_csv("/content/zomato.csv", encoding='latin-1')
print(data)

      Restaurant ID           Restaurant Name  Country Code              City  \
0           6317637          Le Petit Souffle           162       Makati City
1           6304287          Izakaya Kikufuji           162       Makati City
2           6300002    Heat - Edsa Shangri-La           162  Mandaluyong City
3           6318506                      Ooma           162  Mandaluyong City
4           6314302               Sambo Kojin           162  Mandaluyong City
...             ...                       ...           ...               ...
9546        5915730              NamlÛ± Gurme           208         ÛÁstanbul
9547        5908749             Ceviz AÛôacÛ±           208         ÛÁstanbul
9548        5915807                     Huqqa           208         ÛÁstanbul
9549        5916112              Aôôk Kahve           208         ÛÁstanbul
9550        5927402  Walter's Coffee Roastery           208         ÛÁstanbul

                                                Address  \
0     Third Floor, Century City Mall, Kalayaan Avenu...
1     Little Tokyo, 2277 Chino Roces Avenue, Legaspi...
2     Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...
3     Third Floor, Mega Fashion Hall, SM Megamall, O...
4     Third Floor, Mega Atrium, SM Megamall, Ortigas...
...                                                 ...
9546  Kemankeô Karamustafa Paôa Mahallesi, RÛ±htÛ±...
9547  Koôuyolu Mahallesi, Muhittin íìstí_ndaÛô Cadd...
9548  Kuruí_eôme Mahallesi, Muallim Naci Caddesi, N...
9549  Kuruí_eôme Mahallesi, Muallim Naci Caddesi, N...
9550  CafeaÛôa Mahallesi, BademaltÛ± Sokak, No 21/B,...

                                        Locality  \
0      Century City Mall, Poblacion, Makati City
1     Little Tokyo, Legaspi Village, Makati City
2     Edsa Shangri-La, Ortigas, Mandaluyong City
3         SM Megamall, Ortigas, Mandaluyong City
4         SM Megamall, Ortigas, Mandaluyong City
...                                          ...
9546                                    Karakí_y
9547                                   Koôuyolu
9548                                 Kuruí_eôme
9549                                 Kuruí_eôme
9550                                        Moda

                                       Locality Verbose   Longitude  \
0     Century City Mall, Poblacion, Makati City, Mak...  121.027535
1     Little Tokyo, Legaspi Village, Makati City, Ma...  121.014101
2     Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...  121.056831
3     SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.056475
4     SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.057508
...                                                 ...         ...
9546                                Karakí_y, ÛÁstanbul   28.977392
9547                               Koôuyolu, ÛÁstanbul   29.041297
9548                             Kuruí_eôme, ÛÁstanbul   29.034640
9549                             Kuruí_eôme, ÛÁstanbul   29.036019
9550                                    Moda, ÛÁstanbul   29.026016

       Latitude                          Cuisines  ...          Currency  \
0     14.565443        French, Japanese, Desserts  ...  Botswana Pula(P)
1     14.553708                          Japanese  ...  Botswana Pula(P)
2     14.581404  Seafood, Asian, Filipino, Indian  ...  Botswana Pula(P)
3     14.585318                   Japanese, Sushi  ...  Botswana Pula(P)
4     14.584450                  Japanese, Korean  ...  Botswana Pula(P)
...         ...                               ...  ...               ...
9546  41.022793                           Turkish  ...  Turkish Lira(TL)
9547  41.009847   World Cuisine, Patisserie, Cafe  ...  Turkish Lira(TL)
9548  41.055817            Italian, World Cuisine  ...  Turkish Lira(TL)
9549  41.057979                   Restaurant Cafe  ...  Turkish Lira(TL)
9550  40.984776                              Cafe  ...  Turkish Lira(TL)

     Has Table booking Has Online delivery Is delivering now  \
0                  Yes                  No                No
1                  Yes                  No                No
2                  Yes                  No                No
3                   No                  No                No
4                  Yes                  No                No
...                ...                 ...               ...
9546                No                  No                No
9547                No                  No                No
9548                No                  No                No
9549                No                  No                No
9550                No                  No                No

     Switch to order menu Price range  Aggregate rating  Rating color  \
0                      No           3               4.8    Dark Green
1                      No           3               4.5    Dark Green
2                      No           4               4.4         Green
3                      No           4               4.9    Dark Green
4                      No           4               4.8    Dark Green
...                   ...         ...               ...           ...
9546                   No           3               4.1         Green
9547                   No           3               4.2         Green
9548                   No           4               3.7        Yellow
9549                   No           4               4.0         Green
9550                   No           2               4.0         Green

     Rating text Votes
0      Excellent   314
1      Excellent   591
2      Very Good   270
3      Excellent   365
4      Excellent   229
...          ...   ...
9546   Very Good   788
9547   Very Good  1034
9548        Good   661
9549   Very Good   901
9550   Very Good   591

[9551 rows x 21 columns]

In [ ]:
import numpy as np
import pandas as pd

data=pd.read_csv("/content/zomato.csv", encoding='latin-1')
print(data)

In [ ]:
dt_country=pd.read_excel("/content/Country-Code.xlsx")
print(dt_country)

    Country Code         Country
0              1           India
1             14       Australia
2             30          Brazil
3             37          Canada
4             94       Indonesia
5            148     New Zealand
6            162     Phillipines
7            166           Qatar
8            184       Singapore
9            189    South Africa
10           191       Sri Lanka
11           208          Turkey
12           214             UAE
13           215  United Kingdom
14           216   United States

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant ID         9551 non-null   int64
 1   Restaurant Name       9551 non-null   object
 2   Country Code          9551 non-null   int64
 3   City                  9551 non-null   object
 4   Address               9551 non-null   object
 5   Locality              9551 non-null   object
 6   Locality Verbose      9551 non-null   object
 7   Longitude             9551 non-null   float64
 8   Latitude              9551 non-null   float64
 9   Cuisines              9542 non-null   object
 10  Average Cost for two  9551 non-null   int64
 11  Currency              9551 non-null   object
 12  Has Table booking     9551 non-null   object
 13  Has Online delivery   9551 non-null   object
 14  Is delivering now     9551 non-null   object
 15  Switch to order menu  9551 non-null   object
 16  Price range           9551 non-null   int64
 17  Aggregate rating      9551 non-null   float64
 18  Rating color          9551 non-null   object
 19  Rating text           9551 non-null   object
 20  Votes                 9551 non-null   int64
dtypes: float64(3), int64(5), object(13)
memory usage: 1.5+ MB

In [ ]:
data.isnull().sum()

Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                9
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64

In [ ]:
print(data.head(10))

   Restaurant ID                           Restaurant Name  Country Code  \
0        6317637                          Le Petit Souffle           162
1        6304287                          Izakaya Kikufuji           162
2        6300002                    Heat - Edsa Shangri-La           162
3        6318506                                      Ooma           162
4        6314302                               Sambo Kojin           162
5       18189371                              Din Tai Fung           162
6        6300781                                Buffet 101           162
7        6301290                                   Vikings           162
8        6300010  Spiral - Sofitel Philippine Plaza Manila           162
9        6314987                                  Locavore           162

               City                                            Address  \
0       Makati City  Third Floor, Century City Mall, Kalayaan Avenu...
1       Makati City  Little Tokyo, 2277 Chino Roces Avenue, Legaspi...
2  Mandaluyong City  Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...
3  Mandaluyong City  Third Floor, Mega Fashion Hall, SM Megamall, O...
4  Mandaluyong City  Third Floor, Mega Atrium, SM Megamall, Ortigas...
5  Mandaluyong City  Ground Floor, Mega Fashion Hall, SM Megamall, ...
6        Pasay City  Building K, SM By The Bay, Sunset Boulevard, M...
7        Pasay City  Building B, By The Bay, Seaside Boulevard, Mal...
8        Pasay City  Plaza Level, Sofitel Philippine Plaza Manila, ...
9        Pasig City  Brixton Technology Center, 10 Brixton Street, ...

                                          Locality  \
0        Century City Mall, Poblacion, Makati City
1       Little Tokyo, Legaspi Village, Makati City
2       Edsa Shangri-La, Ortigas, Mandaluyong City
3           SM Megamall, Ortigas, Mandaluyong City
4           SM Megamall, Ortigas, Mandaluyong City
5           SM Megamall, Ortigas, Mandaluyong City
6  SM by the Bay, Mall of Asia Complex, Pasay City
7  SM by the Bay, Mall of Asia Complex, Pasay City
8      Sofitel Philippine Plaza Manila, Pasay City
9                                        Kapitolyo

                                    Locality Verbose   Longitude   Latitude  \
0  Century City Mall, Poblacion, Makati City, Mak...  121.027535  14.565443
1  Little Tokyo, Legaspi Village, Makati City, Ma...  121.014101  14.553708
2  Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...  121.056831  14.581404
3  SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.056475  14.585318
4  SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.057508  14.584450
5  SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.056314  14.583764
6  SM by the Bay, Mall of Asia Complex, Pasay Cit...  120.979667  14.531333
7  SM by the Bay, Mall of Asia Complex, Pasay Cit...  120.979333  14.540000
8  Sofitel Philippine Plaza Manila, Pasay City, P...  120.980090  14.552990
9                              Kapitolyo, Pasig City  121.056532  14.572041

                             Cuisines  ...          Currency  \
0          French, Japanese, Desserts  ...  Botswana Pula(P)
1                            Japanese  ...  Botswana Pula(P)
2    Seafood, Asian, Filipino, Indian  ...  Botswana Pula(P)
3                     Japanese, Sushi  ...  Botswana Pula(P)
4                    Japanese, Korean  ...  Botswana Pula(P)
5                             Chinese  ...  Botswana Pula(P)
6                     Asian, European  ...  Botswana Pula(P)
7  Seafood, Filipino, Asian, European  ...  Botswana Pula(P)
8             European, Asian, Indian  ...  Botswana Pula(P)
9                            Filipino  ...  Botswana Pula(P)

  Has Table booking Has Online delivery Is delivering now  \
0               Yes                  No                No
1               Yes                  No                No
2               Yes                  No                No
3                No                  No                No
4               Yes                  No                No
5                No                  No                No
6               Yes                  No                No
7               Yes                  No                No
8               Yes                  No                No
9               Yes                  No                No

  Switch to order menu Price range  Aggregate rating  Rating color  \
0                   No           3               4.8    Dark Green
1                   No           3               4.5    Dark Green
2                   No           4               4.4         Green
3                   No           4               4.9    Dark Green
4                   No           4               4.8    Dark Green
5                   No           3               4.4         Green
6                   No           4               4.0         Green
7                   No           4               4.2         Green
8                   No           4               4.9    Dark Green
9                   No           3               4.8    Dark Green

  Rating text Votes
0   Excellent   314
1   Excellent   591
2   Very Good   270
3   Excellent   365
4   Excellent   229
5   Very Good   336
6   Very Good   520
7   Very Good   677
8   Excellent   621
9   Excellent   532

[10 rows x 21 columns]

In [ ]:
print(data.describe())

       Restaurant ID  Country Code    Longitude     Latitude  \
count   9.551000e+03   9551.000000  9551.000000  9551.000000
mean    9.051128e+06     18.365616    64.126574    25.854381
std     8.791521e+06     56.750546    41.467058    11.007935
min     5.300000e+01      1.000000  -157.948486   -41.330428
25%     3.019625e+05      1.000000    77.081343    28.478713
50%     6.004089e+06      1.000000    77.191964    28.570469
75%     1.835229e+07      1.000000    77.282006    28.642758
max     1.850065e+07    216.000000   174.832089    55.976980

       Average Cost for two  Price range  Aggregate rating         Votes
count           9551.000000  9551.000000       9551.000000   9551.000000
mean            1199.210763     1.804837          2.666370    156.909748
std            16121.183073     0.905609          1.516378    430.169145
min                0.000000     1.000000          0.000000      0.000000
25%              250.000000     1.000000          2.500000      5.000000
50%              400.000000     2.000000          3.200000     31.000000
75%              700.000000     2.000000          3.700000    131.000000
max           800000.000000     4.000000          4.900000  10934.000000

In [ ]:
print(data.duplicated().sum())

0

In [ ]:
print(data.shape)

(9551, 21)

In [ ]:
print(dt_country.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Code  15 non-null     int64
 1   Country       15 non-null     object
dtypes: int64(1), object(1)
memory usage: 368.0+ bytes
None

In [ ]:
print(dt_country.duplicated().sum())

0

In [ ]:
df=pd.merge(data,dt_country,on='Country Code',how='left')
print(df.head())

   Restaurant ID         Restaurant Name  Country Code              City  \
0        6317637        Le Petit Souffle           162       Makati City
1        6304287        Izakaya Kikufuji           162       Makati City
2        6300002  Heat - Edsa Shangri-La           162  Mandaluyong City
3        6318506                    Ooma           162  Mandaluyong City
4        6314302             Sambo Kojin           162  Mandaluyong City

                                             Address  \
0  Third Floor, Century City Mall, Kalayaan Avenu...
1  Little Tokyo, 2277 Chino Roces Avenue, Legaspi...
2  Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...
3  Third Floor, Mega Fashion Hall, SM Megamall, O...
4  Third Floor, Mega Atrium, SM Megamall, Ortigas...

                                     Locality  \
0   Century City Mall, Poblacion, Makati City
1  Little Tokyo, Legaspi Village, Makati City
2  Edsa Shangri-La, Ortigas, Mandaluyong City
3      SM Megamall, Ortigas, Mandaluyong City
4      SM Megamall, Ortigas, Mandaluyong City

                                    Locality Verbose   Longitude   Latitude  \
0  Century City Mall, Poblacion, Makati City, Mak...  121.027535  14.565443
1  Little Tokyo, Legaspi Village, Makati City, Ma...  121.014101  14.553708
2  Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...  121.056831  14.581404
3  SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.056475  14.585318
4  SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.057508  14.584450

                           Cuisines  ...  Has Table booking  \
0        French, Japanese, Desserts  ...                Yes
1                          Japanese  ...                Yes
2  Seafood, Asian, Filipino, Indian  ...                Yes
3                   Japanese, Sushi  ...                 No
4                  Japanese, Korean  ...                Yes

  Has Online delivery Is delivering now Switch to order menu Price range  \
0                  No                No                   No           3
1                  No                No                   No           3
2                  No                No                   No           4
3                  No                No                   No           4
4                  No                No                   No           4

  Aggregate rating  Rating color  Rating text Votes      Country
0              4.8    Dark Green    Excellent   314  Phillipines
1              4.5    Dark Green    Excellent   591  Phillipines
2              4.4         Green    Very Good   270  Phillipines
3              4.9    Dark Green    Excellent   365  Phillipines
4              4.8    Dark Green    Excellent   229  Phillipines

[5 rows x 22 columns]